//Con el sufijo de "_" le hacemos entender a gulp que el contenido estara inmerso en otra hoja de estilos


//Paleta de colores
$color_navbar: #0D0D0D;
$color_degrade1: #262626;
$color_degrade2: #595959;
$color_degrade3: #8C8C8C;
$color_texto: #F2F2F2;
$color_resaltado: #F2CB05;

//Tipografia
$titulos: 'Readex Pro', sans-serif;
$parrafos: 'Inconsolata', monospace;

//MediaQuery
$telefono: 480px;
$tablet: 768px;
$escritorio: 992px;
$escritorioXL: 1200px;